{% extends 'base.html' %}

{% block content %}
<h1>Histórico de Confrontos</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Buscar</button>
</form>

{% if partidas %}
    <br>
    <div class="row align-items-center justify-content-center">
        <div class="col-sm-12 justify-content-center" style="text-align: center;display: flex; align-items: center;">
            {% if jogador_1 %}<img src="{{ jogador_1.imagem_url }}" alt="{{ jogador_1 }}" style="border-radius: 50%; width: 100px; height: 100px; margin-right: 10px;"> {% endif %}
            <p>x</p>
            {% if jogador_2 %}<img src="{{ jogador_2.imagem_url }}" alt="{{ jogador_2 }}" style="border-radius: 50%; width: 100px; height: 100px; margin-left: 10px;"> {% endif %}
        </div>
    </div>
    <br>
    Total de Partidas Encontradas: {{ partidas.count }}
    <div class="container">
        <section class='row'>
            <!-- Gráfico de Vitorias -->
            <div id="vitorias_chart" class="col-sm-6 justify-content-center" style="width: 100%;"></div>
            <!-- Gráfico de Gols -->
            <div id="gols_chart" class="col-sm-6 justify-content-center" style="width: 100%;"></div>    
        </section>
    </div>
    
    <h3>Partidas entre {{ form.cleaned_data.jogador_1 }} e {{ form.cleaned_data.jogador_2 }}</h3>
    <ul>
        {% for partida in partidas %}
        <li>
            Partida {{ partida.id }}:
            {% if partida.placar_detentor_atual > partida.placar_desafiante or partida.penaltis_detentor_atual > partida.penaltis_desafiante %}
                <strong>{{ partida.detentor_atual }}</strong>
            {% else %}
                {{ partida.detentor_atual }}
            {% endif %}
            {{ partida.placar_detentor_atual }} {% if partida.penaltis_detentor_atual or partida.penaltis_desafiante %}({{ partida.penaltis_detentor_atual }}){% endif %} x {% if partida.penaltis_detentor_atual or partida.penaltis_desafiante %}({{ partida.penaltis_desafiante }}) {% endif %}{{ partida.placar_desafiante }}
            {% if partida.placar_desafiante > partida.placar_detentor_atual or partida.penaltis_desafiante > partida.penaltis_detentor_atual %}
                <strong>{{ partida.desafiante }}</strong>
            {% else %}
                {{ partida.desafiante }}
            {% endif %}
            - {{ partida.data }}
        </li>
        {% endfor %}
    </ul>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChartVitorias);
google.charts.setOnLoadCallback(drawChartGols);

function drawChartVitorias() {
  var data = google.visualization.arrayToDataTable([
    ['Jogador', 'Vitórias'],
    ['{{ form.cleaned_data.jogador_1 }}', {{ vitorias_jogador_1 }}],
    ['{{ form.cleaned_data.jogador_2 }}', {{ vitorias_jogador_2 }}],
  ]);

  var options = {
    title: 'Vitórias ({{ vitorias_jogador_1 }} x {{ vitorias_jogador_2 }})',
    is3D: true,
  };

  var chart = new google.visualization.PieChart(document.getElementById('vitorias_chart'));
  chart.draw(data, options);
}

function drawChartGols() {
  var data = google.visualization.arrayToDataTable([
    ['Jogador', 'Gols', 'Gols2'],
    ['{{ form.cleaned_data.jogador_1 }}', {{ gols_marcados_jogador_1 }},0],
    ['{{ form.cleaned_data.jogador_2 }}',0, {{ gols_marcados_jogador_2 }}],
  ]);

  var options = {
    title: 'Gols marcados ({{ gols_marcados_jogador_1 }} x {{ gols_marcados_jogador_2 }})',
    
    isStacked: true,
    series: {
        0: { color: '#3366cc' }, // Cor da primeira barra (jogador 1)
        1: { color: '#dc3912' }   // Cor da segunda barra (jogador 2)
      },
    legend: 'none',
    hAxis: {
        viewWindow: {
            min: 0  // Define o valor mínimo do eixo horizontal como 0
        },
    },
  };

  var chart = new google.visualization.BarChart(document.getElementById('gols_chart'));
  chart.draw(data, options);
}
</script>
{% elif partidas is not none %}
    <p>Nenhuma partida encontrada entre os jogadores selecionados.</p>
{% endif %}
{% endblock %}