{% extends 'base.html' %}

{% block content %}
    <h1>Estatísticas do Cinturão de EA FC do CAM</h1>

    <h2>Defesas de Cinturão</h2>
<ul>
    {% for jogador, defesas in defesas_cinturao.items %}
    <li>{{ jogador }}: {{ defesas }}</li>
    {% endfor %}
</ul>

    <h2>Detentor Atual:</h2>
    {% if detentor_atual %}
        <div style="display: flex; align-items: center;">
            {% if detentor_atual.imagem_url %}<img src="{{ detentor_atual.imagem_url }}" alt="{{ detentor_atual }}" style="border-radius: 50%; width: 100px; height: 100px; margin-right: 10px;"> {% endif %}
            <p>{{ detentor_atual }}</p>
        </div>
    {% else %}
        <p>Não há detentor atual</p>
    {% endif %}
<h2>
    Streak Atual de Defesas 
</h2>
<ul>
    <li>
    {{ streak }} defesas - {{data_streak}}
    </li>
</ul>
<h2>
    Recorde de Streak de Defesas
</h2>
<ul>
    <li>
    {{ maior_sequencia }} - {{ data_maior_sequencia }}
    </li>
</ul>
<h2>Maior Goleada</h2> 

<ul> {% for partida in partida_maior_goleada %}
        <li>
        {% if partida.placar_detentor_atual > partida.placar_desafiante %}
        <strong>{{ partida.detentor_atual }}</strong>
        {% else %}
            {{ partida.detentor_atual }}
        {% endif %}
        {{ partida.placar_detentor_atual }} {% if partida.penaltis_detentor_atual or partida.penaltis_desafiante %}({{ partida.penaltis_detentor_atual }}){% endif %} x {% if partida.penaltis_detentor_atual or partida.penaltis_desafiante %}({{ partida.penaltis_desafiante }}) {% endif %}{{ partida.placar_desafiante }}
        {% if partida.placar_desafiante > partida.placar_detentor_atual %}
            <strong>{{ partida.desafiante }}</strong>
        {% else %}
            {{ partida.desafiante }}
        {% endif %}
        - {{ partida.data }}
    </li>
    {% endfor %}
</ul>
<h2>Total de Partidas de Cinturão Disputadas</h2>
<ul>
    <li>{{ total_partidas }} partidas</li>
</ul>
    <h2>Partidas Anteriores:</h2>
    <ul>
        {% for partida in partidas %}
        <li>
            {% if partida.placar_detentor_atual > partida.placar_desafiante or partida.penaltis_detentor_atual > partida.penaltis_desafiante %}
                <strong>{{ partida.detentor_atual }}</strong>
            {% else %}
                {{ partida.detentor_atual }}
            {% endif %}
            {{ partida.placar_detentor_atual }} {% if partida.penaltis_detentor_atual or partida.penaltis_desafiante %}({{ partida.penaltis_detentor_atual }}){% endif %} x {% if partida.penaltis_detentor_atual or partida.penaltis_desafiante %}({{ partida.penaltis_desafiante }}) {% endif %}{{ partida.placar_desafiante }}
            {% if partida.placar_desafiante > partida.placar_detentor_atual or partida.penaltis_desafiante > partida.penaltis_detentor_atual %}
                <strong>{{ partida.desafiante }}</strong>
            {% else %}
                {{ partida.desafiante }}
            {% endif %}
            - {{ partida.data }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
