{% extends 'base.html' %}

{% block content %}
    <h1>Regulamento do Cinturão de EA FC do CAM</h1>
    <!-- Adicione aqui o conteúdo do regulamento -->
    <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regulamento do Cinturão de EA Sports™ FC do CAM Poli USP</title>
</head>
<body>

    <p><strong>Regulamento do Cinturão de EA Sports™ FC do CAM Poli USP</strong></p>

    <p><strong>Artigo 1: Introdução</strong></p>

    <p><strong>1.1</strong> Este Regulamento estabelece as regras e procedimentos para a competição do Cinturão de EA Sports™ FC (antigo FIFA) do Centro Acadêmico de Mecânica e Mecatrônica (CAM) da Escola Politécnica da USP (Poli-USP), uma honra concedida ao campeão atual de EA FC entre alunos de mecânica e mecatrônica da Poli-USP e seus desafiantes.</p>

    <p><strong>Artigo 2: Detentor Inicial</strong></p>

    <p><strong>2.1</strong> O detentor inicial do Cinturão de EA FC do CAM será determinado pelo vencedor da primeira partida oficial de EA FC realizada entre alunos da mecânica e mecatrônica da Poli-USP.</p>

    <p><strong>2.2</strong> O detentor inicial será oficialmente reconhecido como o primeiro detentor do Cinturão de EA FC do CAM.</p>

    <p><strong>Artigo 3: Membros</strong></p>

    <p><strong>3.1</strong> Qualquer aluno de graduação regularmente matriculado em engenharia mecânica ou mecatrônica na Escola Politécnica está apto a se tornar um membro do Cinturão de EA FC do CAM.</p>

    <p><strong>3.2</strong> Alunos de engenharia de outros cursos ou pós-graduandos podem, em caráter excepcional, solicitar ao Comitê Organizador participar do Cinturão como participante convidado, desde que justifiquem sua presença recorrente no espaço físico do Centro Acadêmico, não impedindo a prática de novos jogos caso venham a se tornar detentores do Cinturão.</p>

    <p><strong>3.3</strong> O Comitê Organizador deve aprovar requerimentos de participantes convidados por maioria simples, em votação presencial ou remota, dependendo das condições.</p>

    <p><strong>3.4</strong> Caso um membro deixe de ser aluno regularmente matriculado na Escola Politécnica, perderá o título de membro e não poderá mais desafiar oficialmente o detentor.</p>

    <p><strong>Artigo 4: Desafiantes</strong></p>

    <p><strong>4.1</strong> Qualquer membro pode desafiar o detentor atual do Cinturão de EA FC.</p>

    <p><strong>4.2</strong> O desafiante deve expressar sua intenção de desafiar o detentor atual do Cinturão de EA FC ao Comitê Organizador do Cinturão de EA FC do CAM.</p>

    <p><strong>4.3</strong> O desafiante deve ser um membro oficialmente registrado do CAM.</p>

    <p><strong>4.4</strong> O desafiante só pode desafiar o detentor atual do Cinturão de EA FC uma vez que não haja um desafiante atualmente.</p>

    <p><strong>4.5</strong> O detentor do Cinturão deverá aceitar ao menos um desafiante dentro de, no máximo, três dias letivos, exceto em casos de inexistência de desafiantes, motivos de doença ou semana de provas, caso o detentor esteja no primeiro ou segundo ano de graduação.</p>

    <p><strong>Artigo 5: Condições da Partida</strong></p>

    <p><strong>5.1</strong> A partida entre o detentor atual do Cinturão de EA FC e o desafiante deve ser em uma única partida realizada dentro do espaço físico do CAM, que deverá fornecer o console e os controles nos quais a partida será disputada.</p>

    <p><strong>5.2</strong> A partida deve seguir as seguintes regras e tempo de jogo:</p>

    <p>Dificuldade: Lendária Tempo de jogo: 5 minutos Câmera: Co-op Velocidade do jogo: normal Contusões: Sim Impedimentos: Sim Cartões: Sim Toques de mão: Não Clima: Bom</p>

    <p><strong>5.3</strong> As partidas devem ser disputadas no modo clássico do jogo, não sendo permitidos modos como Bola Surpresa, Sobrevivência ou Volta Football, exceto quando acordado previamente entre o desafiante e o detentor.</p>

    <p><strong>5.4</strong> Caso haja mais de um desafiante no espaço físico do CAM, o perdedor de cada partida deve passar a vez para o próximo na fila de desafiantes, por ordem de chegada.</p>

    <p><strong>5.5</strong> O detentor poderá escolher a ordem dos desafiantes, caso haja mais de um ao mesmo tempo no espaço físico do CAM. Entretanto, um desafiante derrotado só poderá realizar o desafio novamente caso o todos os outros desafiantes já tenham jogado.</p>

    <p><strong>Artigo 6: Transferência do Cinturão</strong></p>

    <p><strong>6.1</strong> Se o detentor do Cinturão vencer a partida contra o desafiante, o título permanecerá com o detentor atual.</p>

    <p><strong>6.2</strong> Se o desafiante vencer a partida contra o detentor atual do Cinturão de EA FC, o desafiante se tornará o novo detentor do Cinturão.</p>

    <p><strong>6.3</strong> Em caso de empate, a partida deverá ser disputada no modo "Clássico" de desempate, com prorrogação e pênaltis.</p>

    <p><strong>6.4</strong> Em caso de descumprimento do Art. 4.5, o Cinturão será transferido automaticamente para o último membro detentor, ou para o último membro desafiante caso não existam membros previamente detentores.</p>

    <p><strong>Artigo 7: Promoção e Reconhecimento</strong></p>

    <p><strong>7.1</strong> O detentor atual do Cinturão de EA FC do CAM será promovido e reconhecido oficialmente pelo Centro Acadêmico de Mecânica e Mecatrônica (CAM) em suas plataformas de mídia social e outras formas de comunicação.</p>

    <p><strong>7.2</strong> O detentor atual do Cinturão terá o direito de usar o título e status de detentor do Cinturão de EA FC do CAM até que seja derrotado por um desafiante.</p>

    <p><strong>Artigo 8: Comitê Organizador</strong></p>

    <p><strong>8.1</strong> O Comitê Organizador do Cinturão de EA FC do CAM (COC-FC) será composto, ordinariamente, por três membros: o atual detentor do Cinturão e os dois detentores anteriores, excluindo repetições.</p>

    <p><strong>8.2</strong> Caso não haja três campeões para a formação do Comitê Organizador, o atual detentor poderá indicar os membros restantes para a composição em caráter provisório, até que haja campeões suficientes para a formação completa.</p>

    <p><strong>8.3</strong> O Comitê Organizador, quando em caráter provisório, não poderá realizar mudanças no regulamento ou votar pela entrada de novos participantes como convidados.</p>

    <p><strong>Artigo 9: Disposições Finais</strong></p>

    <p><strong>9.1</strong> Este regulamento pode ser revisado e atualizado pelo Comitê Organizador do Cinturão de EA FC do CAM conforme necessário, com aviso prévio aos membros.</p>

    <p><strong>9.2</strong> Quaisquer disputas ou controvérsias relacionadas ao Cinturão de EA FC do CAM serão resolvidas pelo Comitê Organizador do Cinturão de EA FC do CAM, cujas decisões serão finais e vinculativas.</p>

</body>
</html>

{% endblock %}
