{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinturão de EA FC do CAM</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- CSS Personalizado -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8692415081703955"
     crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Cinturão de EA FC do CAM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'estatisticas' %}">Página Principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'partidas' %}">Todas As Partidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'regulamento' %}">Regulamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastrar_jogador' %}">Cadastrar Jogador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cadastrar_partida' %}">Cadastrar Partida</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'jogadores' %}">Estatísticas Por Jogador</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'historico_confrontos' %}">Histórico de Confrontos</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap JS e jQuery (opcional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8692415081703955"
     crossorigin="anonymous"></script>
</body>
</html>
